<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css" />
    <title>Noisy Neighbors</title>
</head>
<body>

    <div class="header_login">
        <a href="http://localhost:3000/posts/index"><img src="/images/neighbors_music_logo.svg"  class="logo_login"></a>  
    </div>
    <div id="header_spacer"></div>

    <div class="body_content">
        <h2>Noisy Neighbors</h2>
        <h4>A Concert Blogspot</h4>
        <p>Noisy Neighbors' content is centered around local concerts. We provide you the tools to share lastest concert information to your network of felllow music lovers. Log in and spread the word!</p>
    </div>
    <img src="/images/band.svg" id="band">
    <div class="login_form">
        <a href="/auth/google" class="login">log in</a> 
    </div>
    
    
</body>
</html>
