<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css" />
    <title>Noisy Neighbors</title>
</head>
<body>

    <div class="header_login">
        <a href="http://localhost:3000/posts/index"><img src="/images/neighbors_music_logo.svg"  class="logo_login"></a>  
    </div>
    <div id="header_spacer"></div>

    <div class="login_form">
        <a href="/auth/google" class="login">sign up</a>
        <a href="/logout" class="logout">log out</a>
    </div>
    
    
</body>
</html>
