<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>createPost</title>
    <form action="/posts/" method="post">
        <label for="artistName">Artist</label>
        <input type="text" name="artistName" id="">
        <label for="venueName">Venue</label>
        <input type="text" name="venueName" id="">
        <label for="venueLocation">Location</label>
        <input type="text" name="venueLocation" >
        <label for="eventDate">Date</label>
        <input type="datetime-local" name="eventDate" id="">
        <input type="submit" value="Create a post">
    </form>
</head>
<body>
    
</body>
</html>