<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>all posts</title>
</head>
<body>
    <h1>see all posts</h1>
    <a href="/logout">log out</a>
    <a href="http://localhost:3000/posts/form">createPost</a>
    <a href="http://localhost:3000/posts/all">See all posts</a>
</body>
</html>