<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css" />
    <title>user profile</title>
</head>
<body>

    <div class="header_login">
        <a href="http://localhost:3000/posts/index" src="/images/neighbors_music_logo.svg"  class="logo_login"></a>  
    </div>
    <div id="header_spacer"></div>

    <div class="user_list">
    <h2>User List:</h2>
    <% users.forEach(user =>{%>
        <a href="user/<%=user._id%>"><%=user.name%></a><br/>
    <%})%>
    </div>
    
</body>
</html>